
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Registro</h2>
      <hr class="w-50" />

      <form action="/Registro" method="post" enctype="multipart/form-data">
        <div class="form-group row w-50 m-auto">
          <div class="form-group col-12 col-sm-6">
            <label>Email</label>
            <input class="form-control m-auto"  name="email" required="required" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Nombre</label>
            <input class="form-control m-auto"  name="nombre" required="required"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Password</label>
            <input type='password' class="form-control m-auto" id="password" name="password" onkeyup='check();' required="required"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Repita la password</label>
            <input type='password' id="confirm_password" class="form-control m-auto"  name="password2" onkeyup='check();'/>
            <span id='mensaje'></span>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Años de experiencia</label>
            <input class="form-control m-auto"  name="experiencia" required="required"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Especialidad</label>
            <input class="form-control m-auto"  name="especialidad" required="required" />
          </div>
          <div class="form-group col-12 col-sm-12">
            <label id="pic">Foto de perfil</label>
            <input type="file" name="foto" required="required"/>
          </div>
        </div>
        <button class="btn btn-info mb-3">Registrarme</button>
        <p><a href="http://localhost:3000/login"> Iniciar sesión</a></p>
      </form>
    </div>

<script>
  const check = () => {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('mensaje').style.color = 'green';
    document.getElementById('mensaje').innerHTML = 'coinciden';
  } else {
    document.getElementById('mensaje').style.color = 'red';
    document.getElementById('mensaje').innerHTML = 'no coinciden';
  }
}
</script>